body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    text-decoration: underline dashed;
    text-align: center;
}